name: monitoring

services:
  dozzle:
    image: amir20/dozzle:v8.14.12@sha256:0df89c904da71e94a0c9ed3c89a890f01488321b5f10ac1e0c0bedcead9af6e4
    container_name: dozzle
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      traefik:
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.dozzle.rule=Host(`dozzle.${DOMAIN}`)
      - traefik.http.routers.dozzle.entrypoints=websecure
      - traefik.http.routers.dozzle.middlewares=authelia@docker
      - traefik.http.routers.dozzle.service=dozzle
      - traefik.http.services.dozzle.loadbalancer.server.port=8080
    security_opt:
      - no-new-privileges:true

  fluentbit:
    image: fluent/fluent-bit:4.2.2
    container_name: fluentbit
    volumes:
      - ./config/fluentbit/config.yaml:/fluent-bit/etc/fluent-bit.yaml:ro
      - ${APPS_FOLDER}/monitoring/fluentbit:/fluent-bit/etc/data:ro
      # Logs
      - ${APPS_FOLDER}/network/traefik/logs:/var/log/traefik:ro
    networks:
      metrics_internal:
    command: [ "/fluent-bit/bin/fluent-bit", "-c", "/fluent-bit/etc/fluent-bit.yaml" ]
    restart: unless-stopped
    user: 568:568
    security_opt:
      - no-new-privileges:true

  homepage:
    image: ghcr.io/gethomepage/homepage:v1.8.0@sha256:7dc099d5c6ec7fc945d858218565925b01ff8a60bcbfda990fc680a8b5cd0b6e
    container_name: homepage
    volumes:
      - ./config/homepage/widgets.yaml:/app/config/widgets.yaml
      - ./config/homepage/services.yaml:/app/config/services.yaml
      - ./config/homepage/settings.yaml:/app/config/settings.yaml
      - ./config/homepage/bookmarks.yaml:/app/config/bookmarks.yaml
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
      HOMEPAGE_ALLOWED_HOSTS: homepage.${DOMAIN}
      HOMEPAGE_VAR_DOMAIN: ${DOMAIN}
    env_file:
      - homepage.env
    networks:
      traefik:
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.homepage.rule=Host(`homepage.${DOMAIN}`)
      - traefik.http.routers.homepage.entrypoints=websecure
      - traefik.http.routers.homepage.middlewares=authelia@docker
      - traefik.http.routers.homepage.service=homepage
      - traefik.http.services.homepage.loadbalancer.server.port=3000
    security_opt:
      - no-new-privileges:true

  scrutiny:
    image: ghcr.io/analogj/scrutiny:master-omnibus@sha256:e5638d8580adba40f7c03464cde8420866188b9e48cddb9fc3866ec3243163d5
    container_name: scrutiny
    volumes:
      - /run/udev:/run/udev:ro
      - ${APPS_FOLDER}/monitoring/scrutiny/config:/opt/scrutiny/config
      - ${APPS_FOLDER}/monitoring/scrutiny/data:/opt/scrutiny/influxdb
    networks:
      traefik:
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.scrutiny.rule=Host(`scrutiny.${DOMAIN}`)
      - traefik.http.routers.scrutiny.entrypoints=websecure
      - traefik.http.routers.scrutiny.middlewares=authelia@docker
      - traefik.http.routers.scrutiny.service=scrutiny
      - traefik.http.services.scrutiny.loadbalancer.server.port=8080
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
    devices:
      - /dev/sda
      - /dev/sdb
      - /dev/sdc
      - /dev/sdd
      - /dev/sde
      - /dev/sdf
      - /dev/sdg
      - /dev/sdh
      - /dev/nvme0
    security_opt:
      - no-new-privileges:true

  victorialogs:
    image: victoriametrics/victoria-logs:v1.43.1
    container_name: victorialogs
    volumes:
      - ${APPS_FOLDER}/monitoring/victorialogs:/vlogs
    networks:
      metrics_internal:
      traefik:
    command: --storageDataPath=/vlogs
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://127.0.0.1:9428/health" ]
      interval: 1s
      timeout: 1s
      retries: 10
    labels:
      - traefik.enable=true
      - traefik.http.routers.victorialogs.rule=Host(`victorialogs.${DOMAIN}`)
      - traefik.http.routers.victorialogs.entrypoints=websecure
      - traefik.http.routers.victorialogs.middlewares=authelia@docker
      - traefik.http.routers.victorialogs.service=victorialogs
      - traefik.http.services.victorialogs.loadbalancer.server.port=9428
    user: 568:568
    security_opt:
      - no-new-privileges:true

  vmauth:
    image: victoriametrics/vmauth:v1.133.0
    container_name: vmauth
    depends_on:
      victorialogs:
        condition: service_healthy
    volumes:
      - ./config/vmauth:/etc/vmauth
    networks:
      metrics_internal:
    command: -auth.config=/etc/vmauth/vmauth.yaml
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://127.0.0.1:8427/health" ]
      interval: 1s
      timeout: 1s
      retries: 10
    user: 568:568
    security_opt:
      - no-new-privileges:true

  # TODO: add cadvisor, victoriametrics, grafana

networks:
  traefik:
    external: true
    name: traefik

  metrics_internal:
    external: false
    name: metrics_internal
    internal: true
