HOMEPAGE_VAR_JELLYFIN_KEY=
HOMEPAGE_VAR_BAZARR_KEY=
HOMEPAGE_VAR_GLUETUN_KEY=
HOMEPAGE_VAR_PROWLARR_KEY=
HOMEPAGE_VAR_RADARR_KEY=
HOMEPAGE_VAR_SABNZBD_KEY=
HOMEPAGE_VAR_SEERR_KEY=
HOMEPAGE_VAR_SONARR_KEY=
HOMEPAGE_VAR_WHISPARR_KEY=

HOMEPAGE_VAR_IMMICH_KEY=
HOMEPAGE_VAR_NEXTCLOUD_KEY=

HOMEPAGE_VAR_DNS_ADDRESS=192.168.178.220:53443
HOMEPAGE_VAR_DNS_KEY=

HOMEPAGE_VAR_TRUENAS_ADDRESS=192.168.178.220:443

HOMEPAGE_VAR_CROWDSEC_USER=crowdsec
HOMEPAGE_VAR_CROWDSEC_PASSWORD=