name: media

services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:1.5.4@sha256:3785c9b813985821c9b56ee88c516d96b37dc21242c8f315f52e87c029735695
    container_name: bazarr
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    volumes:
      - ${MEDIA_FOLDER}:/media
      - ${APPS_FOLDER}/media/bazarr:/config
      - ${APPS_FOLDER}/media/usenet:/data/usenet
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
    network_mode: service:gluetun
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.bazarr.rule=Host(`bazarr.${DOMAIN}`)
      - traefik.http.routers.bazarr.entrypoints=websecure
      - traefik.http.routers.bazarr.middlewares=authelia@docker
      - traefik.http.routers.bazarr.service=bazarr
      - traefik.http.services.bazarr.loadbalancer.server.port=6767
    security_opt:
      - no-new-privileges:true

  configarr:
    image: ghcr.io/raydak-labs/configarr:1.20.0@sha256:40180ae49ed3caab864f65682da14b172281edb19924e60a5fd357b2234cb987
    container_name: configarr
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    volumes:
      - ./config/configarr/config.yml:/app/config/config.yml
      - ${APPS_FOLDER}/media/configarr:/app/repos
    environment:
      TZ: Europe/Berlin
      RADARR_API_KEY: ${RADARR_API_KEY}
      SONARR_API_KEY: ${SONARR_API_KEY}
    network_mode: service:gluetun
    restart: no
    user: 568:568
    profiles:
      - manual

  gluetun:
    image: qmcgaw/gluetun:v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
    container_name: gluetun
    volumes:
      - ${APPS_FOLDER}/media/gluetun:/gluetun
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
      UPDATER_PERIOD: 24h
      HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE: '{"auth":"apikey","apikey":"${GLUETUN_API_KEY}"}'
      VPN_SERVICE_PROVIDER: mullvad
      VPN_TYPE: wireguard
      WIREGUARD_PRIVATE_KEY: ${WG_PRIV_KEY}
      WIREGUARD_ADDRESSES: ${WG_ADDRESS}
      SERVER_COUNTRIES: Germany
      SERVER_CITIES: Frankfurt
      OWNED_ONLY: yes
      BLOCK_MALICIOUS: off
    networks:
      media:
      traefik:
      auth_internal:
        ipv4_address: 172.31.254.5
        ipv6_address: fdd0:0:0:fff::5
    extra_hosts:
      - "lldap:172.31.254.4"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    hostname: media

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:10.11.5@sha256:747bc6725c5e4f1330e693b50d787e2106e52ac5b25c4174ca5f58915fc17ec8
    container_name: jellyfin
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    volumes:
      - ${MEDIA_FOLDER}:/media
      - ${APPS_FOLDER}/media/jellyfin:/config
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
    network_mode: service:gluetun
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`jellyfin.${DOMAIN}`)
      - traefik.http.routers.jellyfin.entrypoints=websecure
      - traefik.http.routers.jellyfin.service=jellyfin
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
    devices:
      - /dev/dri:/dev/dri
    security_opt:
      - no-new-privileges:true

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
    container_name: prowlarr
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    volumes:
      - ${APPS_FOLDER}/media/prowlarr:/config
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
      PROWLARR__AUTH__METHOD: External
      PROWLARR__AUTH__APIKEY: ${PROWLARR_API_KEY}
      PROWLARR__LOG__LEVEL: info
      PROWLARR__LOG__ANALYTICSENABLED: False
    network_mode: service:gluetun
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.${DOMAIN:?err}`)
      - traefik.http.routers.prowlarr.entrypoints=websecure
      - traefik.http.routers.prowlarr.middlewares=authelia@docker
      - traefik.http.routers.prowlarr.service=prowlarr
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
    security_opt:
      - no-new-privileges:true

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4@sha256:6c0948b42c149e36bb3dbc0b64d36c77b2d3c9dccf1b424c4f72af1e57ba0c21
    container_name: radarr
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    volumes:
      - ${MEDIA_FOLDER}:/media
      - ${APPS_FOLDER}/media/radarr:/config
      - ${APPS_FOLDER}/media/usenet:/data/usenet
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
      RADARR__AUTH__METHOD: External
      RADARR__AUTH__APIKEY: ${RADARR_API_KEY}
      RADARR__LOG__LEVEL: info
      RADARR__LOG__ANALYTICSENABLED: False
    network_mode: service:gluetun
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.radarr.rule=Host(`radarr.${DOMAIN}`)
      - traefik.http.routers.radarr.entrypoints=websecure
      - traefik.http.routers.radarr.middlewares=authelia@docker
      - traefik.http.routers.radarr.service=radarr
      - traefik.http.services.radarr.loadbalancer.server.port=7878
    security_opt:
      - no-new-privileges:true

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:4.5.5@sha256:ed10a7e9fc019aded46f1591f236e9be6d75c99e7017b897b502667cd65afc4c
    container_name: sabnzbd
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    volumes:
      - ${APPS_FOLDER}/media/sabnzbd:/config
      - ${APPS_FOLDER}/media/usenet:/data/usenet
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
    network_mode: service:gluetun
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.${DOMAIN}`)
      - traefik.http.routers.sabnzbd.entrypoints=websecure
      - traefik.http.routers.sabnzbd.middlewares=authelia@docker
      - traefik.http.routers.sabnzbd.service=sabnzbd
      - traefik.http.services.sabnzbd.loadbalancer.server.port=8080
    security_opt:
      - no-new-privileges:true

  seerr:
    image: ghcr.io/hotio/seerr:nightly@sha256:c5350c3df7634faf046ca0c5c9e891a2c04d764b1be1db566b60b536f24036d7
    container_name: seerr
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    volumes:
      - ${APPS_FOLDER}/media/seerr:/app/config
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
      API_KEY: ${SEERR_API_KEY}
    network_mode: service:gluetun
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.seerr.rule=Host(`seerr.${DOMAIN}`)
      - traefik.http.routers.seerr.entrypoints=websecure
      - traefik.http.routers.seerr.service=seerr
      - traefik.http.services.seerr.loadbalancer.server.port=5055
    security_opt:
      - no-new-privileges:true

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16@sha256:8b9f2138ec50fc9e521960868f79d2ad0d529bc610aef19031ea8ff80b54c5e0
    container_name: sonarr
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    volumes:
      - ${MEDIA_FOLDER}:/media
      - ${APPS_FOLDER}/media/sonarr:/config
      - ${APPS_FOLDER}/media/usenet:/data/usenet
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
      SONARR__AUTH__METHOD: External
      SONARR__AUTH__APIKEY: ${SONARR_API_KEY}
      SONARR__LOG__LEVEL: info
      SONARR__LOG__ANALYTICSENABLED: False
    network_mode: service:gluetun
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.sonarr.rule=Host(`sonarr.${DOMAIN}`)
      - traefik.http.routers.sonarr.entrypoints=websecure
      - traefik.http.routers.sonarr.middlewares=authelia@docker
      - traefik.http.routers.sonarr.service=sonarr
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
    security_opt:
      - no-new-privileges:true

  stash:
    image: ghcr.io/hotio/stash:release-v0.30.1@sha256:db2bfef99a3023d01596c377ddbc68b79d5c233fff40c2a1775a5815259c05db
    container_name: stash
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    volumes:
      - ${MEDIA_FOLDER}:/media
      - ${APPS_FOLDER}/media/stash:/config
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
      STASH_STASH: /media/adult
      STASH_PORT: 9998
    network_mode: service:gluetun
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.stash.rule=Host(`stash.${DOMAIN}`)
      - traefik.http.routers.stash.entrypoints=websecure
      - traefik.http.routers.stash.middlewares=authelia@docker
      - traefik.http.routers.stash.service=stash
      - traefik.http.services.stash.loadbalancer.server.port=9998
    security_opt:
      - no-new-privileges:true

  whisparr:
    image: ghcr.io/hotio/whisparr:v3-v3.2.0@sha256:bf0b2ece28531627f5235bfb4c7b7aa02be891d84001fb055c7f304595654b4c
    container_name: whisparr
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    volumes:
      - ${MEDIA_FOLDER}:/media
      - ${APPS_FOLDER}/media/whisparr:/config
      - ${APPS_FOLDER}/media/usenet:/data/usenet
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
      WHISPARR__AUTH__METHOD: External
      WHISPARR__AUTH__APIKEY: ${WHISPARR_API_KEY}
      WHISPARR__LOG__LEVEL: info
      WHISPARR__LOG__ANALYTICSENABLED: False
    network_mode: service:gluetun
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.whisparr.rule=Host(`whisparr.${DOMAIN}`)
      - traefik.http.routers.whisparr.entrypoints=websecure
      - traefik.http.routers.whisparr.middlewares=authelia@docker
      - traefik.http.routers.whisparr.service=whisparr
      - traefik.http.services.whisparr.loadbalancer.server.port=6969
    security_opt:
      - no-new-privileges:true

networks:
  media:
    external: false
    name: media
  traefik:
    external: true
    name: traefik
  auth_internal:
    external: true
    name: auth_internal
