name: network

services:
  cloudflare-ddns:
    image: favonia/cloudflare-ddns:1.15.1@sha256:a4e2089b3531eec8c9328c7a9a586f80e8d67dcd94856e0b596b7896e1de3f62
    container_name: cloudflare-ddns
    environment:
      - CLOUDFLARE_API_TOKEN=${CF_DNS_API_TOKEN}
      - DOMAINS=${DOMAIN}
      - PROXIED=false
      # todo enable ipv6
      - IP6_PROVIDER=none
    restart: unless-stopped
    user: 568:568
    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

  crowdsec:
    image: crowdsecurity/crowdsec:v1.7.4@sha256:4312a5109057f2a6b1237431abe638cd1026ecb3a9c2707c6ccc1ed09e4cb994
    container_name: crowdsec
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/acquis:/etc/crowdsec/acquis.d/
      - ${APPS_FOLDER}/network/crowdsec/data:/var/lib/crowdsec/data/
      - ${APPS_FOLDER}/network/crowdsec/config:/etc/crowdsec/
      # Logs
      - ${APPS_FOLDER}/network/traefik/logs:/var/log/traefik:ro
      - ${APPS_FOLDER}/auth/authelia/logs:/var/log/authelia:ro
      - ${APPS_FOLDER}/nextcloud/logs:/var/log/nextcloud:ro
    environment:
      TZ: Europe/Berlin
      USE_WAL: true
      COLLECTIONS: crowdsecurity/traefik LePresidente/authelia gauth-fr/immich crowdsecurity/nextcloud crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules
      CUSTOM_HOSTNAME: crowdsec
      BOUNCER_KEY_TRAEFIK: ${CROWDSEC_API_KEY}
      ENROLL_KEY: ${CROWDSEC_ENROLL_KEY}
      ENROLL_INSTANCE_NAME: ${CROWDSEC_INSTANCE_NAME}
    networks:
      traefik:
    restart: unless-stopped

  dns:
    image: technitium/dns-server:14.3.0@sha256:322b236403ca25028032f28736e2270a860527b030b162c9f82451c6494c4698
    container_name: dns
    volumes:
      - ${APPS_FOLDER}/network/dns:/etc/dns
    environment:
      TZ: Europe/Berlin
      DNS_SERVER_DOMAIN: dns-server
      DNS_SERVER_ADMIN_PASSWORD: ${DNS_SERVER_ADMIN_PASSWORD}
      DNS_SERVER_WEB_SERVICE_ENABLE_HTTPS: true
      DNS_SERVER_WEB_SERVICE_USE_SELF_SIGNED_CERT: true
      DNS_SERVER_FORWARDERS: 1.1.1.1,1.0.0.1,2606:4700:4700::1111,2606:4700:4700::1001
      DNS_SERVER_FORWARDER_PROTOCOL: Tls
    ports:
      - '${NET_INTERFACE_DNS4}:53:53/tcp'
      - '${NET_INTERFACE_DNS4}:53:53/udp'
      - '${NET_INTERFACE_DNS4}:53443:53443/tcp'
      - '${NET_INTERFACE_DNS6}:53:53/tcp'
      - '${NET_INTERFACE_DNS6}:53:53/udp'
    restart: unless-stopped
    hostname: dns-server

  traefik:
    image: traefik:v3.6.6@sha256:82d3d16dde0474a51fef00b28de143d48b67f7a27453224d5e7b5aaefff26a97
    container_name: traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/dynamic:/dynamic:ro
      - ${APPS_FOLDER}/network/traefik/data:/data
      - ${APPS_FOLDER}/network/traefik/logs:/var/log/traefik
    environment:
      TZ: Europe/Berlin
    env_file:
      - .env
    ports:
      - '${NET_INTERFACE_EXTERNAL}:80:8081/tcp'
      - '${NET_INTERFACE_EXTERNAL}:443:8443/tcp'
      - '${NET_INTERFACE_EXTERNAL}:443:8443/udp'
      - '${NET_INTERFACE_INTERNAL}:80:80/tcp'
      - '${NET_INTERFACE_INTERNAL}:443:443/tcp'
      - '${NET_INTERFACE_INTERNAL}:443:443/udp'
    networks:
      traefik:
        ipv4_address: 172.31.255.254
        ipv6_address: fdd0:0:0:1000::fe
      auth_internal:
        ipv4_address: 172.31.254.2
        ipv6_address: fdd0:0:0:fff::2
    command:
      # Misc
      - '--ping'
      - '--global.sendAnonymousUsage=false'
      - '--global.checkNewVersion=false'
      # Logs
      - '--log.level=INFO'
      - '--accesslog.filePath=/var/log/traefik/access.log'
      - '--accesslog.format=json'
      - '--accesslog.fields.headers.names.User-Agent=keep'
      # Web
      - '--entrypoints.web.address=:80/tcp'
      - '--entrypoints.web.http.redirections.entryPoint.to=websecure'
      # Websecure
      - '--entrypoints.websecure.address=:443/tcp'
      - '--entrypoints.websecure.http.middlewares=crowdsec@file,hsts@file,compress@file'
      # HTTP3
      - '--entrypoints.websecure.http3'
      # Web Public
      - '--entrypoints.web-pub.address=:8081/tcp'
      - '--entrypoints.web-pub.http.redirections.entryPoint.to=websecure-pub'
      # Websecure Public
      - '--entrypoints.websecure-pub.address=:8443/tcp'
      - '--entrypoints.websecure-pub.http.middlewares=crowdsec@file,hsts@file,compress@file'
      # HTTP3 Public
      - '--entrypoints.websecure-pub.http3'
      # Dashboard
      - '--api.dashboard=true'
      - '--api.disabledashboardad=true'
      - '--api.insecure=true' # for homepage
      # LetsEncrypt
      - '--certificatesresolvers.letsencrypt.acme.email=${LETSENCRYPT_EMAIL}'
      - '--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json'
      - '--certificatesresolvers.letsencrypt.acme.dnsChallenge.provider=cloudflare'
      - '--entrypoints.websecure.http.tls.certResolver=letsencrypt'
      - '--entrypoints.websecure-pub.http.tls.certResolver=letsencrypt'
      # Docker
      - '--providers.docker.watch=true'
      - '--providers.docker.network=traefik'
      - '--providers.docker.exposedByDefault=false'
      # File
      - '--providers.file.directory=/dynamic/'
      # InsecureSkipVerify
      - '--serverstransport.insecureSkipVerify=true'
      # crowdsec
      - '--experimental.plugins.bouncer.moduleName=github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin'
      - '--experimental.plugins.bouncer.version=v1.4.6'
      # see https://github.com/traefik/traefik/issues/12399 TODO remove when fixed
      - '--entryPoints.websecure.http.encodedCharacters.allowEncodedSlash=true'
      - '--entryPoints.websecure.http.encodedCharacters.allowEncodedQuestionMark=true'
      - '--entryPoints.websecure-pub.http.encodedCharacters.allowEncodedSlash=true'
      - '--entryPoints.websecure-pub.http.encodedCharacters.allowEncodedQuestionMark=true'
    restart: unless-stopped
    healthcheck:
      test: [ 'CMD', 'traefik', 'healthcheck', '--ping' ]
    security_opt:
      - no-new-privileges:true

networks:
  traefik:
    external: true
    name: traefik
  auth_internal:
    external: true
    name: auth_internal
