name: nextcloud

services:
  collabora:
    image: collabora/code:25.04.8.1.1@sha256:3c58d0e9bae75e4647467d0c7d91cb66f261d3e814709aed590b5c334a04db26
    container_name: collabora
    environment:
      PUID: 568
      PGID: 568
      TZ: Europe/Berlin
      password: ${COLLABORA_PASSWORD}
      username: ${COLLABORA_USERNAME}
      aliasgroup1: https://nextcloud.${DOMAIN}:443,http://nextcloud:80
      server_name: collabora.${DOMAIN}
      DONT_GEN_SSL_CERT: "YES"
      extra_params: |
        --o:ssl.enable=false \
        --o:ssl.termination=true \
        --o:logging.level=warning \
        --o:logging.level_startup=warning \
        --o:welcome.enable=false \
        --o:remote_font_config.url=https://nextcloud.${DOMAIN}/apps/richdocuments/settings/fonts.json \
    networks:
      nextcloud:
      traefik:
    command: ["coolconfig generate-proof-key && /start-collabora-online.sh"]
    entrypoint: ["/bin/bash", "-c"]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9980/hosting/discovery"]
      interval: 15s
      timeout: 10s
      retries: 5
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik
      - traefik.http.routers.collabora.rule=Host(`collabora.${DOMAIN}`)
      - traefik.http.routers.collabora.entrypoints=websecure,websecure-pub
      - traefik.http.routers.collabora.service=collabora
      - traefik.http.services.collabora.loadbalancer.server.port=9980
    cap_add:
      - MKNOD
      - SYS_ADMIN
      - SYS_CHROOT
      - FOWNER
      - CHOWN

  mariadb:
    image: mariadb:11.4.9@sha256:e623ab8d513eed0ec2364a71161edc5e8664f57cce768ce1cc7f0b6b349a04ef
    container_name: nextcloud-db
    volumes:
      - ${APPS_FOLDER}/nextcloud/db:/var/lib/mysql
    environment:
      TZ: Europe/Berlin
      MYSQL_RANDOM_ROOT_PASSWORD: true
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
    networks:
      nextcloud:
    command: --transaction-isolation=READ-COMMITTED --innodb_read_only_compressed=OFF
    restart: unless-stopped
    user: 568:568

  nextcloud:
    image: nextcloud:32.0.3@sha256:b8658180f826242849b3f65c42a90529b582f9824bde0b7cc93fd08077bc4e14
    container_name: nextcloud
    depends_on:
      - collabora
      - mariadb
      - redis
    volumes:
      - ${CONTENT_FOLDER}/files:/var/www/html/data
      - ${APPS_FOLDER}/nextcloud/app:/var/www/html
      - ${APPS_FOLDER}/nextcloud/redis/redis-session.ini:/usr/local/etc/php/conf.d/redis-session.ini
      # Logs
      - ${APPS_FOLDER}/nextcloud/logs:/var/log/nextcloud
    environment:
      TZ: Europe/Berlin
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_HOST: mariadb
      REDIS_HOST: redis
      REDIS_HOST_PASSWORD: ${REDIS_PASSWORD}
      TRUSTED_PROXIES: 172.31.255.0/24 fdd0:0:0:1000::/64
      OVERWRITEHOST: nextcloud.${DOMAIN}
      OVERWRITECLIURL: https://nextcloud.${DOMAIN}
      OVERWRITEPROTOCOL: https
    networks:
      nextcloud:
      traefik:
      auth_internal:
        ipv4_address: 172.31.254.6
        ipv6_address: fdd0:0:0:fff::6
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik
      - traefik.http.routers.nextcloud.rule=Host(`nextcloud.${DOMAIN}`)
      - traefik.http.routers.nextcloud.entrypoints=websecure,websecure-pub
      - traefik.http.routers.nextcloud.service=nextcloud
      - traefik.http.services.nextcloud.loadbalancer.server.port=80
    user: 568:568

  redis:
    image: redis:8.4.0-alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    container_name: nextcloud-redis
    networks:
      nextcloud:
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: unless-stopped

networks:
  nextcloud:
    external: false
    name: nextcloud
  traefik:
    external: true
    name: traefik
  auth_internal:
    external: true
    name: auth_internal
